/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* COLORED TEXT LINKS */
.php-color {
    text-decoration: none;
    color: dodgerblue;
}

/* HEADER */
header {
    height: 105px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

header .top-header {
    padding: 20px;
    padding-bottom: 5px;
}

header .top-header span {
    font-size: 20px;
    padding: 5px;
}

header img {
    width: 86px;
    vertical-align: middle;
}


nav ul li {
    padding: 20px;
    padding-bottom: 11px;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul li a.active {
    color: dodgerblue;
}

nav ul li:last-child {
    border-bottom: 3px solid dodgerblue;
}

/* MAIN */

.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 50px;
}

.container h2,
.container p {
    margin-bottom: 20px;
}

.container p {
    font-size: 14px;
    line-height: 25px;
}


/* FOOTER */

footer {
    background-color: #f5f5f5;
} 

footer .box {
    display: flex;
    justify-content: space-between;
    max-width: 1270px;
    margin: 0 auto;
    padding: 20px 50px;
}

footer ul li {
    display: inline-block;
    padding: 0px 5px;
}

footer ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #9e9ea5;
}

footer select {
    width: 200px;
}